@tailwind base;
@tailwind components;
@tailwind utilities;

::backdrop {
  background-color: #939393;
  opacity: 0.75;
}

dialog[open] {
  animation: fadein 0.5s ease-in forwards;
}
  
@keyframes fadein {
  0% {
    opacity:0;
  }
  100%{
    opacity:1;
  }
}