@import "~boxicons/css/boxicons.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

::backdrop {
  background-color: #939393;
  opacity: 0.75;
}

dialog[open] {
  animation: fadein 0.5s ease-in forwards;
}

body {
  background: linear-gradient(90.88deg, rgb(251, 251, 251) 0.25%, rgb(243, 243, 243) 112.18%);
}
  
@keyframes fadein {
  0% {
    opacity:0;
  }
  100%{
    opacity:1;
  }
}